FakeNewsDetection.ipynb
venv/
FakeNewsDetection(1).ipynb
/Backend/venv/
/Backend/.env
/Backend/app/.env
/Backend/app/main.py
/Backend/app/routes.py
/Backend/app/routes.py
/Backend/app/resources/Thesis.pdf

/frontend/.env